@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar {
  padding-right: 2px;
  margin-right: 3px;
  width: 6px;
  height: 3px;
  padding-left: 4;
}

::-webkit-scrollbar-track {
  background-color: #414141;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #303030;
  border-radius: 2px;
}

.appear-from-bottom {
  animation: appear-from-bottom ease-in-out;
  animation-timeline: view();
  animation-range-end: 70vh;
}

@keyframes appear-from-bottom {
  from {
    scale: 0.7;
    opacity: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.fade-in-view {
  animation: fade-in-view ease-in-out;
  animation-timeline: view();
  animation-range-end: 60vh;
}

@keyframes fade-in-view {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
